<app-tabs>
  <app-tab [tabTitle]="'Info'">
      <div *ngFor="let charmRank of data.ranks">
        <app-item-info [label]="'Level'">{{charmRank.level}}</app-item-info>
        <app-item-info [label]="'Rarity'">{{charmRank.rarity}}</app-item-info>
        <app-item-info [label]="'Skills:'"></app-item-info>
        <app-skill-rank-tile [skillRanks]="charmRank.skills"></app-skill-rank-tile>
      </div>
  </app-tab>
  <app-tab [tabTitle]="'Crafting'">
    <div *ngFor="let charmRank of data.ranks">
      <app-collapsible [collapsibleTitle]="'Level ' + charmRank.level">
        <app-item-info [label]="'Craftable'">
          {{charmRank.crafting.craftable == true ? "Yes" : "No"}}
      </app-item-info>
      <app-crafting-material [craftingMaterials]="charmRank.crafting.materials"></app-crafting-material>
      </app-collapsible>
    </div>
</app-tab>
</app-tabs>