<div class="equipment">
    <div class="equipment-slot" (click)="showList('weapons')">WEAPON SLOT</div>
    <div class="equipment-slot" (click)="showList('armor', 'head')">ARMOR (head) SLOT</div>
    <div class="equipment-slot" (click)="showList('armor', 'chest')">ARMOR (chest) SLOT</div>
    <div class="equipment-slot" (click)="showList('armor', 'legs')">ARMOR (legs) SLOT</div>
    <div class="equipment-slot" (click)="showList('armor', 'waist')">ARMOR (waist) SLOT</div>
    <div class="equipment-slot" (click)="showList('armor', 'gloves')">ARMOR (gloves) SLOT</div>
    <div class="equipment-slot" (click)="showList('charms')">CHARM SLOT</div>
</div>