<app-tabs>
    <app-tab [tabTitle]="'Info'">
        <app-item-info [label]="'Description'">{{data.description}}</app-item-info>
        <app-item-info [label]="'Rarity'">{{data.rarity}}</app-item-info>
        <app-item-info [label]="'Carry Limit'">{{data.carryLimit}}</app-item-info>
        <app-item-info [label]="'Value'">{{data.value}}</app-item-info>
        <app-collapsible *ngIf="monsterList[0]" [collapsibleTitle]="'Dropped By'">
            <div *ngFor="let monster of monsterList">
                <div appHoverHighlight
                    [appClickSearch]="{id: monster.monsterId, name: monster.monsterName, category: 'monsters'}">
                    {{monster.monsterName}}, <span class="small">{{monster.rank}}</span>
                </div>
            </div>
        </app-collapsible>
    </app-tab>
</app-tabs>