<app-tabs>
    <app-tab [tabTitle]="'Info'">
        <app-item-info [label]="'Type'">{{data.type}}</app-item-info>
        <app-item-info [label]="'Species'">{{data.species}}</app-item-info>
        <app-item-info [label]="'Description'">{{data.description}}</app-item-info>
        <app-item-info [label]="'Elements'">
            <ul *ngFor="let element of data.elements">
                <li>{{element}}</li>
            </ul>
        </app-item-info>
        <div>Resistances:</div>
        <div *ngFor="let resistance of data.resistances">
            <div>Elements:</div>
            <ul>
                <li>{{resistance.element}}</li>
            </ul>
            <div>Condition: {{resistance.condition}}</div>
        </div>
        <div *ngFor="let weakness of data.weaknesses">
            <div>Elements:</div>
            <ul>
                <li>{{weakness.element}}</li>
            </ul>
            <div>Stars: {{weakness.stars}}</div>
            <div>Condition: {{weakness.condition}}</div>
        </div>
    </app-tab>
    <app-tab [tabTitle]="'Ailments'">
        <div *ngFor="let ailment of data.ailments">
            <app-item-info [label]="'Name'">{{ailment.name}}</app-item-info>
        </div>
    </app-tab>
    <app-tab [tabTitle]="'Locations'">
        <div *ngFor="let location of data.locations">
            <div>Name: {{location.name}}</div>
            <div>Zone Count: {{location.zoneCount}}</div>
            <div *ngFor="let camp of location.camps">
                <div>Campname: {{camp.name}}</div>
                <div>Zone: {{camp.zone}}</div>
            </div>
        </div>
    </app-tab>
    <app-tab [tabTitle]="'Rewards'">
        <div *ngFor="let reward of data.rewards">
            <app-item-info [label]="'Item'">
                <div appHoverHighlight
                    [appClickSearch]="{id: reward.item.id, name: reward.item.name, category: 'items'}">
                    {{reward.item.name}}</div>
            </app-item-info>
            <table>
                <th>Type</th>
                <th>Rank</th>
                <th>#</th>
                <th>Chance</th>
                <tr *ngFor="let condition of reward.conditions">
                    <td >{{condition.type}}<span *ngIf="condition.subtype" class="small">({{condition.subtype}})</span></td>
                    

                    <td>{{condition.rank}}</td>
                    <td>{{condition.quantity}}</td>
                    <td>{{condition.chance}}</td>
                </tr>
            </table>
        </div>
    </app-tab>
</app-tabs>