:host
    margin: 8px
    border: #5e0606 solid 2px
    border-radius: 4px
    background:#494a4b    
    display: flex

    flex-direction: column

    color: #d8c8c3
    // padding: 8px 4px
    box-sizing: border-box
    width: 400px
    
    position: absolute
    right: -500px
    transition: left ease-in .2s, top ease-in .2s

.content
    background-color: #333
    flex-grow: 2
    overflow-y: auto
    

.title
    padding: 3px
    padding-bottom: 5px

#close-button-div 
  width: 25px
  height: 15px
  background-color: #830c0c
  border: 1px solid black
  display: flex
  float: right
  border-radius: 2px
  &:hover
      background-color: #a71212


.close-button-cross1
  height: 15px
  width: 1px
  margin-left: 12px
  background-color: black
  transform: rotate(45deg)
  Z-index: 1


.close-button-cross2
  height: 15px
  width: 2px
  background-color: black
  transform: rotate(90deg)
  Z-index: 2