.tileWrapper
    margin: 8px
    border: #5e0606 solid 2px
    border-radius: 4px
    background: #2e2e2e    
    display: inline-block
    color: #d8c8c3
    padding: 8px 4px
    box-sizing: border-box
    width: 400px

.seperator
    margin: 5px 0 5px 0
    padding: 0
    width: 100%
    height: 2px
    background: #5e0606

.content
    padding: 3px

.title
    padding: 3px

#close-button-div 
  width: 25px
  height: 15px
  background-color: #830c0c
  border: 1px solid black
  display: inline-block
  float: right
  border-radius: 2px
  &:hover
      background-color: #a71212


.close-button-cross1
  height: 15px
  width: 1px
  margin-left: 12px
  background-color: black
  transform: rotate(45deg)
  Z-index: 1


.close-button-cross2
  height: 15px
  width: 2px
  background-color: black
  transform: rotate(90deg)
  Z-index: 2