<div [style.width.px]="sharpnessWidth" class="sharpness-bar"> 
    <div [style.width.px]="red" class="sharpness-red tooltip"><div class="tooltiptext">{{sharpness.red}} Hits</div></div>
    <div [style.width.px]="orange" class="sharpness-orange tooltip"><div class="tooltiptext">{{sharpness.orange}} Hits</div></div>
    <div [style.width.px]="yellow" class="sharpness-yellow tooltip"><div class="tooltiptext">{{sharpness.yellow}} Hits</div></div>
    <div [style.width.px]="green" class="sharpness-green tooltip"><div class="tooltiptext">{{sharpness.green}} Hits</div></div>
    <div [style.width.px]="blue" class="sharpness-blue tooltip"><div class="tooltiptext">{{sharpness.blue}} Hits</div></div>
    <div [style.width.px]="white" class="sharpness-white tooltip"><div class="tooltiptext">{{sharpness.white}} Hits</div></div>
    <div [style.width.px]="purple" class="sharpness-purple tooltip"><div class="tooltiptext">{{sharpness.purple}} Hits</div></div>
</div>
